<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="camp7506.assignment1.cardgame24" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startList"
            android:label="@string/title_activity_start_list"
            android:parentActivityName=".MainScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="camp7506.assignment1.cardgame24.MainScreenActivity" />
        </activity>
    </application>

</manifest>
